@use 'styles/variables';

.footer {
  background-color: variables.$secondary-gray;
  height: 221px;
}

.footerContainer {
  @apply
    flex
    justify-between
    px-[20px]
    py-[31px]

    md:px-[40px]

    xl:max-w-7xl
    xl:mx-auto
}

.linksSection {
  @apply
    flex
    flex-col
    justify-between
    md:h-[144px]
}

.titleSection {
  @apply
    text-[22px]
    font-normal
    md:text-[32px]
    md:font-bold
}

.contactsSection {
  @apply
    flex
    flex-col
    text-[11px]
    font-medium
    md:text-xs
}

.termsAndConditionSection {
  color: variables.$primary-gray;
  @apply
    text-xs
    font-medium
}