/* ----------------- */
/* |    COLORS     | */
/* ----------------- */

$primary-purple: #5C137E;
$secondary-purple: #461A4C;
$primary-white: #FFFFFF;
$primary-black: #000000;
$primary-light-blue: #AAE8FD;
$primary-gray: #777777;


/* ----------------- */
/* |  BREAKPOINTS  | */
/* ----------------- */

$medium-mobile: 768px